.sliders::-webkit-scrollbar {
    width: 0;
}

.sliders::-webkit-scrollbar-track {
    background: transparent;
}

.sliders::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
}

.sliders {
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* Hides scrollbar in Firefox */
    scrollbar-color: transparent transparent;
    /* Hides thumb and track in Firefox */
}


body {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    color: white;
    height: 100%;
    background-image: linear-gradient(to right bottom, #0d326c, #393b7d, #5c428b, #7e4997, #a04f9f);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    position: relative;
}

nav {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

@media only screen and (max-width:800px) {
    nav {
        padding: 1rem 2rem;
    }
}

.slider-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    justify-content: center;
    position: relative;
}

.slider-group>output {
    position: absolute;
    top: 100%;
    padding: 0;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
}


/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--color-secondary);
    border-radius: 1rem;
    height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    /* Centers thumb on the track */
    margin-top: -10px;
    background-color: var(--color-accent);
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}



/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
    background-color: var(--color-secondary);
    border-radius: 1rem;
    height: 0.3rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
    border: none;
    /*Removes extra border that FF applies*/
    background-color: var(--color-accent);
    border-radius: 1rem;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}

input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
}

.editor {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 2rem;
    align-items: center;
    height: 80vh;
    max-height: 80vh;
}

.canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: rgba(var(--color-secondary-rgba), 0.2);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}

canvas {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

input[type="file"] {
    display: none;
}

.uploadLabel {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);

}

#uploadshow {
    display: none;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.sliders {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 1fr);
    gap: 1.5rem;
}

.carousel {
    position: relative;
}

.carousel-arrow {
    display: none;
    position: absolute;
    z-index: 100;
    border: none;
    background: var(--color-accent);
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    cursor: pointer;
}

.carousel-arrow--prev {
    right: 110%;
}

.carousel-arrow--next {
    left: 110%;
}

@media only screen and (max-width:800px) {
    .editor {
        display: flex;
        flex-direction: column;
    }

    .sliders {
        width: 200px;
        height: 3rem;
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .slider-group {
        scroll-snap-align: center;
        flex: 0 0 100%;
        gap: 0;
        height: 100%;
    }


    .carousel-arrow {
        display: initial;
    }

}


.btn {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 100rem;
    cursor: pointer;
    text-align: center;
    vertical-align: center;
}

.btn:hover {
    background-color: rgb(62, 62, 62);
}

.btn-warning {
    background-color: var(--color-warning);
}

.btn-success {
    background-color: var(--color-success);
}

.images-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    padding: 0 5rem;
}

.img-wrapper {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "a a"
        "c d";
    justify-items: center;
    align-items: center;
    background-color: var(--color-accent-dark);
    border-radius: 1rem;
    gap: 1rem;
    aspect-ratio: 3/4;
    padding: 1rem;
    width: 100%;
    height: 100%;

}

.img-wrapper>img {
    grid-area: a;
    border-radius: 0.5rem;
    object-fit: contain;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


.img-wrapper>button {
    border-radius: 100rem;
    width: 100%;
    border: none;
}

.img-wrapper>.edit {
    left: 0;
    grid-area: c;
}

.img-wrapper>.delete {
    right: 0;
    grid-area: d;
}

@media only screen and (max-width: 800px) {
    .images-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}


#popup-notification {
    position: fixed;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

#popup-notification.success {
    background-color: var(--color-success);
}

#popup-notification.error {
    background-color: var(--color-warning);
}